version: '3.8'
services:
  client-liza-alert:
    container_name: client-liza-alert
    environment:
      - GRAPHQL_SERVER=${GRAPHQL_SERVER}
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - ${HOST_CLIENT_PORT}:${CLIENT_PORT}
    depends_on:
      - server-liza-alert
      - pg-liza-alert
  server-liza-alert:
    container_name: server-liza-alert
    environment:
      - SERVER_PORT=${SERVER_PORT}
      - DATABASE_URL=${DATABASE_URL}
      - SOLR_CORE=${SOLR_CORE}
      - SOLR_URL=${SOLR_URL}
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - ${HOST_SERVER_PORT}:${SERVER_PORT}
    depends_on:
      - pg-liza-alert
  wsgi-liza-alert:
      container_name: wsgi-liza-alert
      build:
        context: ./wsgi
        dockerfile: Dockerfile
      volumes:
        - ./scripts:/scripts/
        - ./models:/models/
      # ports:
      #   - 5001:5000
  pg-liza-alert:
    image: postgres:13
    container_name: pg-liza-alert
    restart: always
    ports:
      - 5434:5432
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ./posgtes/data:/var/lib/postgresql/data
  solr-liza-alert:
    container_name: solr-liza-alert
    image: solr:8.11.1
    ports:
      - "8983:8983"
    volumes:
      - ./solr:/var/solr/
    command:
      - solr-precreate
      - gettingstarted
